* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

form, .list-contact {
    padding: 20px;
    max-width: 25rem;
    margin: 0 auto;
}

.form-group {
    display: flex;
    flex-direction: column;
    gap: 4px;
    margin-bottom: 10px;
}

.form-group > label {
    font-size: 18px;
}

.form-group > input {
    font-size: 18px;
    padding: 10px;
    outline: none;
    border: 1px solid #eaeaea;
    border-radius: 3px;
    transition: all .4s ease;
}

.form-group > input:focus {
    border: 1px solid #666;
}

.form-group > input::placeholder {
    color: #eaeaea;
}

#btn-submit {
    font-size: 18px;
    padding: 10px;
    display: block;
    width: 100%;
    background-color: rgb(252, 57, 36);
    color: white;
    border: none;
    cursor: pointer;
    transition: all .4s ease;
    border-radius: 3px;
}

#btn-submit:hover {
    background-color: rgba(252, 57, 36, 0.5);
}

#btn-submit:active {
    transform: scale(.8);
}

h2 {
    text-align: center;
}

.list-contact {
    font-size: 18px;
    color: #3b3636;
    text-align: center;
}

.list-contact > ul > li {
    list-style-type: none;
    margin-bottom: 10px;
}